# Composer
/composer.phar
/core/composer.phar
vendor/
!/vendor/index.html
!/vendor/.htaccess

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# vs code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# IDE Helper
modx_evolution.IDEhelper.php
_ide_helper.php
.phpstorm.meta.php

# node.JS
node_modules
npm-debug.log

# System
ftpsync.settings
Desktop.ini
.rocketeer

# except do not ignore .gitignore
!.gitignore

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant

# docker
Dockerfile

# Log files
/log
/logs
.log
*.log

# Backups files
*.bak
*.back
*.backup


